<div class="main-page form-main-page bg-grey">
  <%= form_with(model: transaction, local: true) do |form| %>

  <div class="form-main-content">
    <div class="field mb-0">
      <%= form.text_field :name, placeholder: 'Name', class: 'form-field border-0' %>
    </div>
    <div class="w-100 d-flex justify-content-center">
      <div class="line"></div>
    </div>
    <div class="field mb-0">
      <%= form.number_field :amount, placeholder: 'Amount in Cents', class: 'form-field border-0' %>
    </div>
    <div class="w-100 d-flex justify-content-center">
      <div class="line"></div>
    </div>
    <div class="field datefield d-flex justify-content-center bg-white mb-0">
      <%= form.date_select :date %>
    </div>
    <div class="w-100 d-flex justify-content-center">
      <div class="line"></div>
    </div>
    <div class="field mb-0 group-field-container d-flex justify-content-center bg-white">
      <%= form.select :group_ids, Group.all.map{|x| [x.name,x.id]}, {}, multiple: true, class: 'group-field border-0 text-center' %>
    </div>
    <div class="actions footer mb-0">
      <button type="submit" class="submit-button-fuck-you text-white rounded w-100 h-100">Create Transaction</button>
    </div>
  </div>

</div>

  
<% end %>
