<%= render 'layouts/nav' %>
<p id="notice"><%= notice %></p>
<h2 class="nav-header">Transactions</h2>

<div class="transaction-sum-section d-flex justify-content-between align-items-center border-bottom grey px-5">
  <p class="total-sum">Total Sum:</p>
  <%= eurofy(total_transaction_sum) %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owntransactions.each do |transaction| %>
      <tr>
        <td><%= transaction.name %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.date %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
